
/* Mobile */
@media screen and (max-width: 480px) {
	.description {
		height: 1626px;
		width: 375px;
		display: grid;
		justify-items: center;
		margin-top: 50px;
	}
	.me {
		display: grid;
		height: 333px;
		width: 351px;
		align-items: center;
		text-align: center;
		margin-top: 50px;
	}

	.me-title {
		font-weight: 700;
		font-size: 30px;
		line-height: 52px;
		color: #172B4D;
		height: 48px;
		width: 351px;
	}

	h1 {
		margin: 0;
	}
	
	#me-des {
		display: flex;
		align-items: center;
		font-weight: 300;
		font-style: normal;
		font-size: 19px;
		color: #42526E;
		line-height: 32px;
		height: 189px;
		width: 351px;

	}



	.btn-resume {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
		text-align: center;
	}

	.btn-resume a button {
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.03em;
		background-color: #36B37F;
		color: #FFFFFF;
		height: 48px;
		width: 159px;
		border-radius: 4px;
		font-weight: 500;
		font-size: 17px;
		line-height: 24px;
		padding-left: 15px;
	}
	.btn-resume a {
		text-decoration: none;
	}

	.background-1 {
		display: flex;
		justify-content: flex-end;
		float: right;
		position: absolute;
		width: 100%;
	}

	.background-2 {
		position: absolute;
		float: left;
		width: 100%;
		margin-top: 300px;
	}
	.about-me-cards {

	}
t}
