@media screen and (min-width: 480px) {
  .about-me-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
  }

  .me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 260px 20px;
  }

  .me-title h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .me-des {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin-bottom: 10px;
  }

  .resume-btn {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.03em;
    background-color: #36b37f;
    border-radius: 4px;
    padding: 12px;
    text-decoration: none;
  }

  .resume-btn:hover {
    background-color: #008552;
    box-shadow: 0 8px 16px rgba(30, 72, 143, 0.24);
    border-radius: 4px;
  }

  .btn-rsm {
    margin: 30px;
  }

  .background-1 {
    display: flex;
    justify-content: flex-end;
    float: right;
    position: absolute;
    width: 100%;
  }

  .background-2 {
    position: absolute;
    float: left;
    width: 100%;
    margin-top: -180px;
    padding-left: 100px;
  }

  .background-1 img {
    height: 150px;
  }

  .background-2 img {
    height: 100px;
  }

  .portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    gap: 20px;
    flex-wrap: wrap;
  }

  .about-me-cards {
    width: 327px;
    background-color: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .about-me-cards img {
    margin-top: 24px;
    margin-bottom: 30px;
  }

  .about-me-cards h1 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #344563;
    text-align: center;
  }

  .abt-languages {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .abt-languages a button {
    background-color: #fff;
    color: #36b37e;
  }

  ul {
    list-style: none;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .about-me-sec {
    width: 375px;
    height: auto;
  }

  .description {
    height: auto;
    width: 375px;
    display: grid;
    justify-items: center;
    margin-top: 50px;
  }

  .me {
    display: grid;
    height: 333px;
    width: 351px;
    align-items: center;
    text-align: center;
  }

  .me-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    color: #172b4d;
    height: 48px;
    width: 351px;
  }

  h1 {
    margin: 0;
  }

  .me-des {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-style: normal;
    font-size: 19px;
    color: #42526e;
    line-height: 32px;
    height: 189px;
    width: 351px;
  }

  .resume-btn {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.03em;
    background-color: #36b37f;
    border-radius: 4px;
    padding: 12px;
    text-decoration: none;
  }

  .resume-btn:hover {
    background-color: #008552;
    box-shadow: 0 8px 16px rgba(30, 72, 143, 0.24);
    border-radius: 4px;
  }

  .background-1 {
    display: flex;
    justify-content: flex-end;
    float: right;
    position: absolute;
    width: 100%;
  }

  .background-2 {
    position: absolute;
    float: left;
    width: 100%;
    margin-top: 300px;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 327px;
    height: 1200px;
  }

  .about-me-cards {
    width: 327px;
    height: 352px;
    background-color: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .about-me-cards img {
    margin-top: 24px;
    margin-bottom: 30px;
  }

  .about-me-cards h1 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #344563;
    text-align: center;
  }

  .abt-languages {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .abt-languages a button {
    background-color: #fff;
    color: #36b37e;
  }

  ul {
    list-style: none;
  }
}
