@media screen and (min-width: 480px) {
  .form-section {
    display: flex;
    flex-direction: row;
    padding: 80px 0;
    gap: 24px;
    width: 100%;
    height: auto;
    background-image: url(../images/desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .frm-txt {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    padding-left: 135px;
    width: 463px;
    color: #172b4d;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding-right: 134px;
  }

  .form-input {
    width: 100%;
  }

  .name,
  .email {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    background: #e5e5e5;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
  }

  input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    padding-left: 16px;
  }

  .message {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 114px;
    background: #e5e5e5;
    border: 1px solid #60c095;
    border-radius: 4px;
  }

  textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
    padding: 10px 0 0 10px;
  }

  form button {
    width: 129px;
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  form button:hover {
    background: #008552;
    border-radius: 4px;
  }

  .form-img {
    display: none;
  }

  .email-contact {
    display: none;
  }

  .line {
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
    background: #dfe1e6;
  }
}

@media screen and (max-width: 480px) {
  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: auto;
    margin: 50px 24px;
  }

  .frm-txt {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 58px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    margin-top: 24px;
  }

  .form-input {
    background: #fff;
    border-radius: 4px;
    padding: 16px 15px;
  }

  input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
  }

  textarea {
    height: 114px;
    border: 1px solid #60c095;
  }

  textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
  }

  form button {
    padding: 12px;
    gap: 10px;
    width: 129px;
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 0 auto;
  }

  form button:hover {
    background: #008552;
    border-radius: 4px;
  }

  .form-img {
    float: right;
    position: absolute;
    margin-top: 750px;
    margin-left: 300px;
  }

  .email-contact {
    margin-top: 20px;
    margin-bottom: 150px;
  }

  .email-contact p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .line {
    display: none;
  }

  #less {
    margin-top: 0;
  }
}
