@media screen and (min-width: 480px) {
  .rcnt-work-indicator > img {
    display: none;
  }

  .recent-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    gap: 48px;
    width: auto;
    height: auto;
  }

  .recent-works-title {
    width: auto;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .card-img > img {
    width: 100%;
    height: 252px;
    border-radius: 8px 8px 0 0;
  }

  .prj {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 0 135px 0 135px;
  }

  .card {
    padding: 0;
    background-color: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .card-title h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    height: auto;
    margin-bottom: 8px;
  }

  .languages {
    display: flex;
    gap: 10px;
    margin-top: 5px;
  }

  button {
    color: #172b4d;
    background-color: #ebf0ee;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
  }

  .see-prj > button {
    width: 122px;
    padding: 12px;
    background-color: #36b37f;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 24px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .see-prj button:hover {
    background-color: #008552;
    box-shadow: 0 8px 16px rgba(30, 72, 143, 0.24);
    border-radius: 4px;
    color: #fff;
  }

  .languages li {
    list-style: none;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  /* scroll button */

  .recent-works {
    height: 3283px;
    width: 379px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 30px;
  }

  .recent-works-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 97px;
    width: 327px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
  }

.recent-works-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 97px;
  width: 327px;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  height: 474px;
  width: 327px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #d0d9d4;
  margin-top: 50px;
}

.card-img > img {
  width: 100%;
  height: 252px;
  border-radius: 8px 8px 0 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  height: 100px;
}

.framework {
  margin-top: 10px;
  margin-bottom: 10px;
}

.languages {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

button {
  background-color: #ebf0ee;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #3a4a42;
  border-radius: 4px;
  padding: 8px;
}

.see-prj > button {
  width: 122px;
  padding: 12px;
  background-color: #36b37f;
  border-radius: 4px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
}

button:hover {
  background-color: #008552;
  box-shadow: 0 8px 16px rgba(30, 72, 143, 0.24);
  border-radius: 4px;
}

.languages li {
  list-style: none;
}
}
