/* global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* color variables */
:root {
  --white: #fff;
  --blue: #1e90ff;
  --cayn-blue: #172b4d;
  --green: #36b37e;
  --green-cayn: #28352f;
  --Tealish-blue: #505f79;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 480px) {
  body {
    background-color: #e5e5e5;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }

  .welcome {
    display: none;
  }

  .ham-menu {
    display: none;
  }

  .menu {
    display: flex;
    margin-top: 30px;
    position: fixed;
    width: 100%;
  }

  .menu ul,
  .menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  .menu li {
    float: left;
    display: inline;
    position: relative;
  }

  .menu a {
    line-height: 20px;
    padding: 0 14px;
    text-decoration: none;
    color: #172b4d;
  }

  .menu li a:hover {
    color: #09c;
    background: #f2f2f2;
    border-radius: 6px;
  }

  .container {
    background-image: url(./images/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 5px;
    height: 150vh;
    width: 100%;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 210px;
    gap: 24px;
    width: auto;
    height: auto;
  }

  .intro {
    width: auto;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .support-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    width: 920px;
    height: auto;
    color: #172b4d;
  }

  .career {
    color: var(--green);
  }

  .social {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .social-icons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
    height: 20px;
    width: 170.17px;
  }

  .fa {
    width: 20px;
    height: 20px;
  }

  .medium {
    margin-top: 3px;
  }

  .scroll-down {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 50px;
  }

  /* scroll button */
  .scroll-img {
    width: 40px;
    height: 40px;
    bottom: 1px;
    border: 1px solid #dfe1e6;
    border-radius: 32px;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  body {
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }

  .menu {
    display: none;
  }

  /* container */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 667px;
    width: 375px;
  }

  /* nav-bar */
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 48px;
    padding-top: 44px;
    padding-bottom: 20px;
  }

  .welcome {
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    width: 90px;
    height: 28px;
    padding-left: 12px;
    color: var(--green-cayn);
  }

  .ham-menu {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    padding-right: 24px;
  }

  /* intro-section */
  .background {
    background-image: url(../images/header-illsutration-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .intro {
    width: 327px;
    height: 192px;
    line-height: 130%;
    text-align: center;
    padding-left: 24px;
    margin-top: 64px;
  }

  .primary-text {
    width: 100%;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 0;
  }

  .primary {
    color: var(--cayn-blue);
  }

  /* span */
  .career {
    color: var(--green);
  }

  /* support text */
  .support-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    height: 164px;
    width: 327px;
    padding-left: 24px;
    color: var(--cayn-blue);
    margin-top: 40px;
  }

  /* social media */

  .social {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .social-icons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
    height: 20px;
    width: 170.17px;
  }

  .fa {
    width: 16px;
    height: 16px;
  }

  .scroll-down {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  /* scroll button */
  .scroll-img {
    width: 40px;
    height: 40px;
    bottom: 1px;
    border: 1px solid #dfe1e6;
    border-radius: 32px;
  }
}
