/* main */
:root {
	--white: #ffffff;
	--blue: #1e90ff;
	--cayn-blue: #172B4D;
	--green: #068f2f;
	--green-cayn: #28352F;
}

body {
	background-color: var(--white);
	font-family: 'Inter' , sans-serif;
}

/* mobile */
@media screen and (max-width:  480px) {
	body {
	}
	/* container */
	.container {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items:  center;
		border: 5px solid red;
		height: 100vh;
	}

	/* logo */

	.welcome {
		font-weight: 600;
		font-size: 30px;
		line-height: 28px;

		width: 200px;
		height: 50px;

		padding-right: 220px;
		padding-top: 40px;
		
		margin-bottom: 0;
		color: var(--green-cayn);
	}

	/* intro-section */
	.intro {
		width: 80%;
	}
	.primary-text {
		font-weight: 900px;
		font-size: 50px;
		font-style: normal;

		width: 100%;
		
		line-height: 130%; 
	}

	#primary {
		color: var(--cayn-blue);
	}
	/* span */
	#career {
		color: var(--green);
	}

	/* support text */
	#support-text {
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		padding: 0 40px;

		color: var(--cayn-blue);
	}
	
	/* social media */
	.social {
		display: flex;
		gap: 15px;
	}
}








